# ==============================================================================
# ENVIRONMENT VARIABLES: WEB PROFIL SMPN 5 CIBEBER (NEXT.JS)
# ==============================================================================
# Salin nilai di bawah ini ke menu Environment Variables di Coolify
# Penting: Di Coolify, centang "Build Variable" agar terbaca saat proses build Next.js.
# ==============================================================================

# 1. Supabase Cloud URL (Single Source of Truth)
NEXT_PUBLIC_SUPABASE_URL=https://bgyeqdyguuflljgzilzy.supabase.co

# 2. Supabase Anon Public Key (Aman untuk Client-Side & Fetch Data Publik)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJneWVxZHlndXVmbGxqZ3ppbHp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0MjU1MTgsImV4cCI6MjEwNjAwMTUxOH0.P-inKoVotxDNXITp-aaYGpmXq0BCEsbPtwlJ4yHrZc8

# 3. URL Portal Superadmin Sekolah (Untuk redirect rute /admin)
# Contoh: https://ekosistem.daeroom.my.id atau http://100.119.6.69:3000 (Tailscale)
NEXT_PUBLIC_ADMIN_PORTAL_URL=https://ekosistem.daeroom.my.id

